.createD .wordD .wordzk .d1 h5 a{color:rgb(23, 23, 23);}
.createD .wordD .wordzk .d1 h5{margin-right:35px;}
.barol{color: #FFF}
.barol2 li .name a{color: #FFF;}
.barol li{min-width: 200px;}
.barol .bar{margin-left: 10px;}